#headerbereich{
  background: -moz-linear-gradient(-45deg, #fcc63f 0%, #f8cd61 60%, #f8bd15 60%, #ffa707 71%, #ffa707 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcc63f 0%,#f8cd61 60%,#f8bd15 60%,#ffa707 71%,#ffa707 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcc63f 0%,#f8cd61 60%,#f8bd15 60%,#ffa707 71%,#ffa707 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc63f', endColorstr='#ffa707',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#headerbereich h1{
  margin-bottom: 1rem !important;
  font-size: 70px;
  color: white;
}

#headerbereich h2{
  font-size: 1.5em;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 7px;
}

#headerbereich p {
  color: rgba(255, 255, 255, 0.9);
  padding-left: 7px;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}