#headerbereich{

/*  background-color: rgb(250, 70, 70);
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
  filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));*/
  background: -moz-linear-gradient(-45deg, #f85032 0%, #ef7b6b 60%, #fa4646 60%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f85032 0%,#ef7b6b 60%,#fa4646 60%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f85032 0%,#ef7b6b 60%,#fa4646 60%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#headerbereich h1{
  margin-bottom: 1rem !important;
  font-size: 70px;
  color: white;
}

#headerbereich h2{
  font-size: 1.5em;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 7px;
}

#headerbereich p {
  color: rgba(255, 255, 255, 0.9);
  padding-left: 7px;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/img-gewichtskontrolle.jpg");
  background-position: center;
  background-size: cover;
}